.order-form__elements {
    margin: 0 0 23px -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}
.order-form__select {
    margin: 0 0 30px 30px;
    width: calc(100% - 30px);
}
.order-form__option-selected {
    display: none;
}
.order-form__input {
    margin: 0 0 30px 30px;
    width: calc(100% - 30px);
}
.order-form__range {
    font-size: 18px;
    margin: 0 0 29px 30px;
    width: calc(100% - 30px);
}
.order-form__range-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.order-form__range-value {
    margin-left: 20px;
    text-wrap: nowrap;
}
.order-form__file {
    margin: 0 0 30px 30px;
    width: calc(100% - 30px);
}
.order-form__btns {
    width: 100%;
    display: flex;
    justify-content: center;
}
.order-form__btn {
    margin: 0 0 30px 30px;
    width: calc(100% - 30px);
    padding: 13px 8px;
    font-weight: 600;
    font-size: 15px;
}

@media (min-width: 576px) {
    .order-form__select,
    .order-form__input,
    .order-form__file,
    .order-form__btn {
        width: calc(50% - 30px);
    }
    .order-form__range:nth-child(2n) {
        order: 1;
    }
}
@media (min-width: 992px) {
    .order-form__select,
    .order-form__input,
    .order-form__file,
    .order-form__btn {
        width: calc(33.3% - 30px);
    }
    .order-form__range {
        width: calc(66.6% - 30px);
    }
    .order-form__range:nth-child(2n) {
        order: 0;
    }
    .order-form__range:nth-child(3n) {
        order: 1;
    }
}
